* {
  box-sizing: border-box;
}

body {
  background: rgb(128, 128, 128)
}


#main { 
  display: flex;
  height: 121px;
  width: 100%;
  margin-top: 1.7rem;
  justify-content: space-between;
  background-color: silver;

}


 #searchform {
     
  box-shadow:0 0 20px rgba(17, 17, 17, 0.555);
  width: 246.39px;
  height: 100%;
  text-align: center;
  background: rgb(25, 175, 150);
  margin-right: 1rem;
}

#label {
  width: 184.55px;
  white-space: nowrap;
  color: white;
  font-weight: 900;
  font-size: 2rem;
  font-variant-caps: all-small-caps;
  font-feature-settings: "smcp";
}
 
#gifsearch {
  width: 184.55px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

#addgif {
  margin-bottom: 1rem;
}

.hello {
  margin: 7px;
  color: white;
  background-color:rgb(25, 175, 150);
  padding: 5px;
  border: none;
  box-shadow:0 0 20px rgba(17, 17, 17, 0.555);
  width: 5rem;
  font-weight: 600;
}

.holding {
  display: flex; 
  flex-wrap: wrap;
  
}

#gifsholder {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
 
}

.stillimage {
  border: 5px silver solid;
  margin: 5px;
} 

.rating {
  color: white;
}

#addgif {
  color: white;
  background-color: hotpink;
  border-style: double;
  
}


